engine-strict=true
save-exact=true
strict-peer-dependencies=true
registry=https://registry.npmjs.org/
@agrismartchain:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
always-auth=true
